vaadin-dialog-overlay .selected-text {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: var(--lumo-size-m);
    padding: 0 var(--lumo-space-m);
    width: 100%;
    border: 1px solid var(--lumo-contrast-20pct);
    border-top: none;
}