vaadin-dialog-overlay[theme~='small']::part(overlay) {
    width: 50%;
    min-width: 25rem;
    max-width: 40rem;
}

vaadin-dialog-overlay[theme~='medium']::part(overlay) {
    width: 70%;
    min-width: 40rem;
    max-width: 75rem;
}

vaadin-dialog-overlay[theme~='large']::part(overlay) {
    width: 90%;
    min-width: 40rem;
}

vcf-lookup-field[theme~='integrated'] vaadin-combo-box::part(input-field),
vcf-lookup-field[theme~='integrated'] vaadin-multi-select-combo-box::part(input-field) {
    border-radius: var(--lumo-border-radius-s) 0 0 var(--lumo-border-radius-s);
}

vcf-lookup-field[theme~='integrated'] .search-button {
    margin-left: 0;
    border-radius: 0 var(--lumo-border-radius-s) var(--lumo-border-radius-s) 0;
}

vcf-lookup-field[theme~='full-width'] vaadin-combo-box::part(input-field),
vcf-lookup-field[theme~='full-width'] vaadin-multi-select-combo-box::part(input-field) {
    margin-inline-end: var(--lumo-size-m);
}

vcf-lookup-field[theme~='full-width'] vaadin-button.search-button {
    margin-inline-start: calc(var(--lumo-space-xs) + (var(--lumo-size-m) * -1));
}

vcf-lookup-field[theme~='integrated'][theme~='full-width'] vaadin-button.search-button {
    margin-inline-start: calc((var(--lumo-size-m) * -1));
}